# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx

*.db
*.db-shm
*.db-wal
*.opendb

ChatServerApp/x64/
ChatServerApp/ChatServerApp/x64/
ChatServerApp/.vs/
ChatServerApp/.vs/ChatServerApp/v17/.suo
*.ilk
*.idb
*.pdb
*.pdb
*.tlog
ChatServerApp/.vs/ChatServerApp/v17/.suo
ChatServerApp/ChatServerApp/x64/Debug/ChatServ.13dc95f0.tlog/link.read.1.tlog
ChatServerApp/ChatServerApp/x64/Debug/ChatServ.13dc95f0.tlog/link.write.1.tlog
ChatServerApp/ChatServerApp/x64/Debug/ChatServerApp.cpp.ilk
ChatServerApp/ChatServerApp/x64/Debug/ChatServerApp.log
ChatServerApp/ChatServerApp/x64/Debug/vc143.idb
ChatServerApp/ChatServerApp/x64/Debug/vc143.pdb
ChatServerApp/x64/Debug/ChatServerApp.cpp.pdb
*.log
*.idb
*.pdb
